// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-md-8.col-md-offset-2.article h1 {
    text-align: center;
}

.col-md-8.col-md-offset-2.article {
    margin-bottom: 20px;
}

#buttons.col-md-4 {
    margin-top: 13px;
}



